# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print(child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print('* ' + element.find('name').text + ':')
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print (capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [5]:
document_t = ET.parse( './data/mondial_database.xml' )

In [6]:
document_t

In [7]:
x = document_t.getroot()

In [8]:
x.tag

'mondial'

In [9]:
x.attrib

{}

In [10]:
x[0][1].text

'1214489'

In [11]:
import pandas as pd
df2 = pd.DataFrame(columns=['Country','Infant_Mortality'])
df2.columns

Index(['Country', 'Infant_Mortality'], dtype='object')

In [47]:
import numpy as np
index=0
for element in document_t.getiterator('country'):
   # print(element.find('name').text),
    df2.loc[index,'Country']= element.find('name').text
    if element.find('infant_mortality') is None:
    #    print(''),
        df2.loc[index,'Infant_Mortality']=np.NaN
    else:
     #   print(element.find('infant_mortality').text),
        df2.loc[index,'Infant_Mortality']=element.find('infant_mortality').text
    index = index+1

In [13]:
y = df2.dropna()
l = y.sort_values(['Infant_Mortality'],ascending='False')
l.head(10)

                  Country Infant_Mortality
38                 Monaco             1.81
30                Romania            10.16
153                  Fiji             10.2
69                 Brunei            10.48
132               Grenada             10.5
237             Mauritius            10.59
124                Panama             10.7
243            Seychelles            10.77
102  United Arab Emirates            10.92
113              Barbados            10.93

In [14]:
import pandas as pd
df3 = pd.DataFrame(columns=['City','Population'])
df3.columns

Index(['City', 'Population'], dtype='object')

In [15]:
type(x)

xml.etree.ElementTree.Element

In [41]:
index=0
for country in x.iter('country'):
    for city in country.iter('city'):
        c = city.find('name').text
        #print(c)
        df3.loc[index,'City']= c
        #print(index)
        #xml.find('./bar').attrib['key']
        for population in city.iter('population'):
            s = population.attrib['year']
            if(s=="2011"):  
                df3.loc[index,'Population']= population.text
         #       print(population.text)
        index = index +1
   # print(index)
    index = index+1
index = index +1

In [42]:
df3.head()

      City Population
0   Tirana     418495
1  Shkodër      77075
2   Durrës     113249
3    Vlorë      79513
4  Elbasan      78703

In [18]:
import pandas as pd
df4 = pd.DataFrame(columns=['Country','Ethnicgroup','Ethnicgroup%'])
df4.columns

Index(['Country', 'Ethnicgroup', 'Ethnicgroup%'], dtype='object')

In [43]:
import numpy as np
index1=0
index2=0 
for country in document_t.getiterator('country'):
   # print(index1)
    for ethnicgroup in country.iter('ethnicgroup'):
    #        print(ethnicgroup.text)
     #       print(index1)
            df4.loc[index1,'Country']= country.find('name').text
      #      print('* ' + country.find('name').text + ':')
            df4.loc[index1,'Ethnicgroup']=ethnicgroup.text
       #     print(ethnicgroup.attrib['percentage'])
            df4.loc[index1,'Ethnicgroup%']=ethnicgroup.attrib['percentage']

            index1 = index1+1
   
    index2 =index2 + 1
index1 = index1 +1
#print(index1)

In [44]:
import pandas as pd
df6 = pd.DataFrame(columns=['Country','Population'])
df6.columns

Index(['Country', 'Population'], dtype='object')

In [45]:
index=0
for country in x.iter('country'):
    for population in country.findall('population'):
        
        s = population.attrib['year']
        if(s=="2011"): 
            #print('* ' + country.find('name').text + ':')
            df6.loc[index,'Country']= country.find('name').text
            df6.loc[index,'Population']= population.text

            c = population.text
           # print(c)
            index = index +1

        #df5.loc[index,'City']= c
        #print(index)
       
    #xml.find('./bar').attrib['key']
        #for population in city.iter('population'):
        #    s = population.attrib['year']
        #    if(s=="2011"):  
        #        df3.loc[index,'Population']= population.text
        #        print(population.text)
       # index = index +1
    #print(index)
    #index = index+1

In [46]:
df6.head()

      Country Population
0     Albania    2800138
1      Greece   10816286
2   Macedonia    2059794
3      Serbia    7120666
4  Montenegro     620029

In [23]:
df4.head()

     Country Ethnicgroup Ethnicgroup%
0    Albania    Albanian           95
1    Albania       Greek            3
2     Greece       Greek           93
3  Macedonia  Macedonian         64.2
4  Macedonia    Albanian         25.2

In [24]:
result = pd.merge(df4, df6, on=['Country'])

In [25]:
result['Pop2']=0.01
#*0.01*(result['Population'])
#type(result['Ethnicgroup%'])

In [26]:
type(result['Ethnicgroup%'])

pandas.core.series.Series

In [27]:
import pandas as pd
result[['Ethnicgroup%','Population','Pop2']] = result[['Ethnicgroup%','Population','Pop2']].apply(pd.to_numeric)

In [30]:
result['pop3']= result['Ethnicgroup%']*result['Pop2']

In [32]:
result['Pop4']= result['pop3']*result['Population']

In [36]:
result2 = result.groupby('Ethnicgroup').sum()

In [40]:
result3 = result2.sort_values('Pop4',ascending=False)
result3.head(10)

                      Ethnicgroup%  Population  Pop2   pop3          Pop4
Ethnicgroup
Indo-Aryan                    72.0  1210854977  0.01  0.720  8.718156e+08
Dravidian                     25.0  1210854977  0.01  0.250  3.027137e+08
African                      290.4   242532398  0.08  2.904  1.663920e+08
Bengali                       98.0   149772364  0.01  0.980  1.467769e+08
German                        96.3   164739214  0.06  0.963  7.427849e+07
English                       83.6    63182178  0.01  0.836  5.282030e+07
Mediterranean Nordic         100.0    46815916  0.01  1.000  4.681592e+07
Persian                       51.0    75149669  0.01  0.510  3.832633e+07
Polish                       107.1   105352584  0.06  1.071  3.801842e+07
Mongol                         3.0  1210854977  0.01  0.030  3.632565e+07